.btn-group .dropdown-toggle:focus,
.btn-group .dropdown-toggle:active,
.btn-group .dropdown-toggle.show {
    color: #fff;
}

.btn {
    color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

#nav-logo {
    margin: 0;
    padding: 0;
}

#nav-main {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(32, 36, 43, 0.301);

}

#contacts-header {
    gap: 50px;
}

.address-nav,
.email-nav {
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.email-nav a {
    text-decoration: none;
    color: #FFFFFF
}

#phone-header {
    color: #FFFFFF;
    text-align: right;
}

#phone-header a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800
}

#phone-header a:hover {
    color: #878fd6;
    transition: 0.4s;
}

#upper-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.45);
    margin: 0;
    position: absolute;
    bottom: 20px;
    right: 12px;
}

#slider-main {
    padding: 0;
}


.button:hover {
    color: #FFFFFF;
    border-bottom-color: #EF595A;
    transition: 0.5s;
}

.btn.show {
    color: #FFFFFF;
}

.button {
    border: none;
    font-size: smaller;
    font-weight: bold;
    border-radius: 0;
    border-bottom: 3px solid transparent;
}

#lower-header {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 2px;
    right: 15px;
    gap: 10px;
}

.email-nav a:hover,
.email-nav a:focus {
    color: #878fd6;
    transition: 0.4s;
}

.slider-card-upper {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 100px;
    z-index: 1;
    border: 10px solid #FFFFFF;
    border-bottom: none;
}

.slider-card-upper p {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
}

.card-inner-header {
    position: absolute;
    top: 46.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-inner-header p {
    width: 600px;
    color: #FFFFFF;
    font-family: "Open Sans", serif;
    font-weight: bold;
    font-size: 52px;
    padding-top: 10px;
}

.card-inner-footer {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-inner-footer p {
    color: #FFFFFF;
    font-family: "Open Sans", serif;
    font-weight: lighter;
    font-size: 24px;
    padding-top: 60px;
    width: 300px;

}

.slider-card-bottom {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 110px;
    border: 10px solid #FFFFFF;
    border-top: none;
}

.slider-card-bottom-price {
    height: 250px;
    background-color: #FFFFFF;
    width: 240px;
    font-family: "Montserrat", serif;
    color: #37353D;
    font-weight: bold;
    font-size: 25px;
    padding-top: 13px;
    transform: translateY(1px);
}

.slider-card-bottom-frame {
    height: 240px;
}

.triangle-bottomright {
    position: absolute;
    bottom: -7px;
    right: 2px;
    width: 0;
    height: 0;
    border-bottom: 12px solid red;
    border-left: 12px solid transparent;
    border-radius: 2px;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slider-card-bottom-price span {
    font-size: 16px;
    transform: translateY(-3px);
    padding-right: 2px;
}

p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.507);
}

.timer-bar {
    height: 5px;
    width: 100%;
    background-color: #007bff; /* Change color as needed */
    position: relative;
  }
  
  .timer-bar-progress {
    width: 0%;
    height: 100%;
    background-color: #ff0000; /* Change color as needed */
    position: absolute;
    top: 0;
    left: 0;
    animation: timer-bar-animation 5s linear forwards; /* Change duration as needed */
  }
  
  @keyframes timer-bar-animation {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }